* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem 1rem 5rem;
}

.titulo {
  width: 44rem;
}

.inputRow {
  padding: 40px;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px;
}

.infoContent {
  text-align: center;
  padding: 0 3rem 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border-radius: 15px;
  background-color: #00000024;
}
